<div class="col-sm-3 mb-1 book-card">
<a href="">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Book Title</h5>
            <h6 class="card-title">By: Author</h6>
            <p class="card-text">Rating: </p>
            <p class="card-text">Description of Book</p>
            <h6 class="card-title">Stock: </h6>
        </div>
    </div>
</a>