<main class="mbs-body">
  <form class="form" id="add-genre-condition">
    <h2>Enter new genre and/or condition:</h2>
    <label for="genre">Genre:</label>
    <input class="form-input" type="text" id="genre" />
    <br />
    <label for="condition">Condition:</label>
    <input class="form-input" type="text" id="condition" />
    <br />

    <p><button>Submit</button></p>
  </form>
</main>