<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Better Book Barter</title>
    <link rel="stylesheet" href="/css/jass.css" />

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .mbs-body {
        display: flex;
        justify-content: space-evenly;
        background-color: coral;
        color: antiquewhite;
      }
      .mbs-header {
        text-align: center;
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <main class="mbs-body">
      <form class="form" id="add-genre-condition">
        <h2>Enter new genre and/or condition:</h2>
        <label for="isbn">Genre:</label>
        <input class="form-input" type="text" id="genre" />
        <br />
        <label for="isbn">Condition:</label>
        <input class="form-input" type="text" id="condition" />
        <br />
    
        <p><button>Submit</button></p>
      </form>
    </main>
  </body>
</html>
