<div class="container bg-secondary pb-1 pt-1 text-center">
        <h1 class="text-white">Book Details</h1>
    </div>

    <div class="container mt-2">
        <button class="btn btn-dark back-to-inventory" href=""><-- Back to Inventory</button>
    </div>

    <div class="container mt-2">
        <div class="card text-center">
            <div class="card-header">
              Written by: {{author}} 
            </div>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{genre}}</p>
              <p class="card-text">Rating: {{rating}}/5</p>
              <a href="#" class="btn btn-success check-out" id="check-out">Check Out</a>
            </div>
            <div class="card-footer text-muted">
              Stock: 
            </div>
          </div>
    </div>