
<main>
        <div class="p-3">
            <h2 class="text-center text-light">We are happy that you found our website!</h2>

            <h4 class="text-center text-light"><P>Here at the Better-Book-barter, we aim to expand book circulation through a not-for-profit bartering business model. The end goal being a means for which users can share books they have loved and maybe discover new favorites!</P>
          
            <p><strong>So, how does it work?</strong></p>
            
           <p><strong>1.</strong> Donate a book to our library and earn a credit. One book donated equals one credit.</p> 
            <p><strong>2.</strong> Search our library of books available</p> 
            <p><strong>3.</strong> Select a book you would like to read</p>
            <p><strong>4.</strong> Checkout</p>
           
            <p>It’s a simple as that. For every book you donate, you receive a credit that can be used to order a new book! Once you have finished this book, return it and receive another credit that can be used for another book.</p>
            </h4>
            <div class="container animate__animated animate__fadeInUp">
            <ol class="container ">
            {{#each books as |book|}}
            {{>inventory-cards}}
            {{/each}}
            </ol>    
            </div> 
            </div>
        </div>
    </main>
