<p>System is still a work in progress</p>

<main>
        <div class="p-3">
            <h2 class="text-center text-light">Featured Reads</h2>
            <div class="container animate__animated animate__fadeInUp">
            <ol class="container ">
            {{#each books as |book|}}
            {{>inventory-cards}}
            {{/each}}
            </ol>    
            </div> 
            </div>
        </div>
    </main>
