<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Better Book Barter</title>
    <link rel="stylesheet" href="/css/jass.css" />

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .mbs-body {
        display: flex;
        justify-content: space-evenly;
        background-color: coral;
        color: antiquewhite;
      }
      .mbs-header {
        text-align: center;
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <header class="display-flex justify-space-between align-center p-2">
      <h1>My Bookshelf</h1>
      <!-- TODO: Add a comment describing the functionality of this helper -->
    </header>
    <main class="mbs-body">
      <form class="form" id="donate-book-form">
        <h2>Enter information for the book you are donating:</h2>
        <p><label for="isbn">ISBN:</label></p>
        <input class="form-input" type="number" id="donate-isbn" />
        <p><label for="title">Title:</label></p>
        <input class="form-input" type="text" id="donate-title" />
        <p><label for="author">Author:</label></p>
        First:<input class="form-input" type="text" id="donate-author-first" />
        Last:<input class="form-input" type="text" id="donate-author-last" />
        <p><label for="genre">Genre:</label></p>
        <input class="form-input" list="genres" id="donate-genre" />

        <datalist id="genres">
          <option value="Scary"></option>
          <option value="Funny"></option>
          <option value="Drama"></option>
          <option value="Sci-Fi"></option>
        </datalist>

        <datalist id="ratings">
          <option value="*"></option>
          <option value="**"></option>
          <option value="***"></option>
          <option value="****"></option>
          <option value="*****"></option>
        </datalist>

        <datalist id="conditions">
          <option value="*"></option>
          <option value="**"></option>
          <option value="***"></option>
          <option value="****"></option>
          <option value="*****"></option>
        </datalist>

        <p><label for="rating">Rating:</label></p>
        <input class="form-input" list="ratings" id="donate-rating" />

        <p><label for="condition">Condition:</label></p>
        <input class="form-input" list="conditions" id="donate-condition" />

        <p><button>Donate Book</button></p>
      </form>
    </main>
  </body>
</html>
