<main class="mbs-body">
  <form class="form" id="donate-book-form">
    <h2>Enter information for the book you are donating:</h2>
    <label for="isbn">ISBN:</label>
    <input class="form-input" type="number" id="donate-isbn" />
    <br />
    <label for="title">Title:</label>
    <input class="form-input" type="text" id="donate-title" />
    <br />
    <label for="author">Author:</label>
    First:
    <input class="form-input" type="text" id="donate-author-first" />
    Last:
    <input class="form-input" type="text" id="donate-author-last" />
    <br />
    <label for="genre">Genre:</label>
    <input class="form-input" list="genres" id="donate-genre" />

    <datalist id="genres">
      <option value="Scary"></option>
      <option value="Funny"></option>
      <option value="Drama"></option>
      <option value="Sci-Fi"></option>
    </datalist>

    <datalist id="ratings">
      <option value="*"></option>
      <option value="**"></option>
      <option value="***"></option>
      <option value="****"></option>
      <option value="*****"></option>
    </datalist>

    <datalist id="conditions">
      <option value="*"></option>
      <option value="**"></option>
      <option value="***"></option>
      <option value="****"></option>
      <option value="*****"></option>
    </datalist>

    <br />
    <label for="rating">Rating:</label>
    <input class="form-input" list="ratings" id="donate-rating" />

    <br /><label for="condition">Condition:</label>
    <input class="form-input" list="conditions" id="donate-condition" />

    <p><button>Donate Book</button></p>
  </form>
</main>